################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleDateTool/bin
/ConsoleDateTool/obj
*.user
/packages
/TestWebApplication/bin
/TestWebApplication/obj
/TestWebApplication.Tests/bin
/TestWebApplication.Tests/obj
